.footer-menu {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  padding-left: 86px;
}

.footer-menu__list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-menu__item {
  padding-right: 40px;
}

.footer-menu__item a {
  text-decoration: none;
  color: #ffffff;
}

.footer-menu__item a:hover,
.footer-menu__item a:focus,
.footer-menu__item a:active {
  opacity: 0.7;
}

@media (max-width: $tablet-width) {
  .footer-menu {
    padding-left: 60px;
    min-width: 0;
  }

  .footer-menu__item {
    padding-right: 30px;
  }
}

@media (max-width: $mobile-width) {
  .footer-menu {
    padding-left: 0;
    margin-top: 7px;
    margin-bottom: 5px;
    justify-content: space-between;
    width: 100%;
  }

  .footer-menu__list {
    flex-direction: column;
  }

  .footer-menu__list--2 {
    margin-top: -25px;
  }

  .footer-menu__item {
    margin-bottom: 17px;
  }

  .footer-menu__item a {
    font-size: 16px;
    line-height: 21px;
  }
}
